<?xml version="1.0" encoding="utf-8" ?>
<Specification>
  <!-- use to define alternative path to specification documents - default = your test DLL
  <BaseInputDirectory path="C:\Active-Specifications\"/>
  -->
  <!-- use to define alternative output path for Concordion test reports - default = temp directory defined by environment variable %TEMP%
  <BaseOutputDirectory path="C:\Temp" />
  -->

  <!-- use to define alternative file extensions for specification documents - default = html
  <SpecificationFileExtensions>
    <FileExtension name="html" />
    <FileExtension name="xhtml" />
  </SpecificationFileExtensions>
  -->

  <!-- use to define test runner class for the Concordion run command - default = Concordion.Spec.Concordion.Command.Run.RunTestRunner
  <Runners>
    <Runner alias="runtestrunner" type="Concordion.Spec.Concordion.Command.Run.RunTestRunner, Concordion.Spec, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </Runners>
  -->

  <!-- use to define Concordion Extensions to use
  <Extensions>
    <Extension>Concordion.Spec.Concordion.Extension.Command.CommandExtension</Extension>
  </Extensions>
  -->
  
</Specification>